/* 공통 스타일 */

/* 스크롤 감춤 */
::-webkit-scrollbar {
  display: none;
}
* {
  user-select: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  color: #d4ebce;
  /* footer 하단 고정하기 위해서 */
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: #d4ebce;
}
img {
  display: block;
}
.inner {
  max-width: 1680px;
  margin: 0 auto;
  /* background-color: #333; */
}

/* 영역 간격 */
.mt-300 {
  margin-top: 300px;
}
.mt-200 {
  margin-top: 200px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-10 {
  margin-top: 10px;
}

/* 색 */
.color-dark {
  color: #1b3420;
}
.color-light {
  color: #d4ebce;
}
.color-white {
  color: #fff;
}

/* HEADER */
header {
  background-color: #d4ebce;
  width: 100vw;
  position: fixed;
  z-index: 9;
}
header .inner {
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .logo-text { padding: 27px; }
header .sns-nav { padding: 27px; }


header .logo-text > a {
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

header .sns-nav img {
  width: 32px;
  height: 32px;
}
header .sns-nav .btn-menu {
  font-size: 36px;
  color: #fff;
}

/* BTN-MENU HOVER */
header .sns-nav .btn-menu:hover {
  color: #d4ebce;
  background-color: #fff;
  border-radius: 50%;
}
header .sns-nav > ul {
  display: flex;
  align-items: center;
}
header .sns-nav > ul > li + li {
  margin-left: 32px;
}
/* SUB MENU */
header .sub-nav {
  background-color: #d4ebce;
  width: 250px;
  height: 380px;
  position: absolute;
  top: 80px;
  right: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0; */
  transition: .8s;
}
header .sub-nav.active {
  right: 0vw;
  opacity: 1;
}
header .sub-nav ul {
  text-align: center;
}
header .sub-nav ul > li + li {
  margin-top: 60px;
}
header .sub-nav ul > li > a {
  color: #fff;
  font-size: 26px;
  transition: .4s;
}
header .sub-nav ul > li:hover > a {
  font-weight: bold;
}

/* FOOTER  */
/* FOOTER-MENU */
footer .footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
footer .footer-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-menu ul > li {
  flex-shrink: 0;
}
footer .footer-menu ul > li > a {
  color: #999;
}
footer .footer-menu .logo-text a {
  font-size: 40px;
  font-weight: bold;
}
footer .footer-menu .footer-menu-left,
footer .footer-menu .footer-menu-right {
  width: 40%;
}

/* HOVER */
footer .footer-menu ul li:hover a {
  font-weight: bold;
}

/* COPYRIGHT */
footer .copyright {
  color: #999;
  text-align: center;
  padding: 20px;
}

/* 반응형 */
/* footer 요소 겹칠때 로고 안보이게 */
@media screen and (max-width: 894px)  {
  footer .footer-menu .logo-text a {
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    max-width: 767px;
    margin: 0 20px;
  }
  /* HEADER */
  header .sns-nav .sns {
    display: none;
  }
  
  /* FOOTER */
  footer {
    margin: 0;
  }
  footer .footer-menu {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  footer .footer-menu ul li {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  footer .footer-menu .logo-text a {
    display: none;
  }
  footer .footer-menu .footer-menu-left,
  footer .footer-menu .footer-menu-right {
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  footer .copyright {
    padding-top: 0;
  }
}