/* HEADER */
header {
  background-color: #d4ebce;
}
header .logo-text > a {
  color: #fff;
}
header .sns-nav .btn-menu {
  color: #fff;
  text-shadow: none;
}
header .sub-nav {
  width: 250px;
  background-color: #d4ebce;
  top: 80px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .sub-nav ul {
  text-align: center;
}
header .sub-nav ul li {
  display: block;
}
header .sub-nav ul li a {
  color: #fff;
}