/* 스크롤 감춤 */
::-webkit-scrollbar {
  display: none;
}
/* HEADER */
header {
  background-color: transparent;
}
header .logo-text > a,
header .sns-nav .btn-menu {
  color: #fff;
}
header .logo-text > a.color-light,
header .sns-nav .btn-menu.color-light {
  color: #d4ebce;
}

/* BTN-MENU HOVER */
header .sns-nav .btn-menu:hover {
  color: #d4ebce;
  background-color: rgba(255, 255, 255, .5);
}
header .sub-nav {
  background-color: transparent;
}
header .sub-nav ul {
  text-align: right;
}
header .sub-nav ul li {
  background-color: rgba(255, 255, 255, .05);
  display: block;
  width: 150px;
  padding: 5px;
  border-radius: 10px;
}
header .sub-nav ul li a {
  color: #d4ebce;
}

header .sub-nav ul .bc-change {
  background-color: rgba(255, 255, 255, .5);
}
header .sub-nav ul li .color-change {
  color: #1b3420;
}

/* SECTION */
/* PROMOTION-PLAYER */

/* YOUTUBE */
.promotion-player {
  position: relative;
  top: 0;
}
.promotion-player .youtube {
  position: relative;
  top: -120px;
  width: 100vw;
  height: 800px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.promotion-player .youtube .youtube__area {
  width: 1920px;
  height: 1080px;
  position: absolute;
}
.promotion-player #player {
  width: 100%;
  height: 100%;
}
.promotion-player .youtube .youtube__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, .03);
}
/* PROMOTION-TITLE */
.promotion-player .promotion-title {
  font-size: 35px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 300px;
}

.promotion-player .scroll-down-btn {
  display: block;
  width: 50px;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  margin: auto;
  animation: 1s linear 1s infinite running bounce;
}

.promotion-content {
  opacity: 0;
  transition: .8s;
  background-color: #fff;
  /* footer 하단 고정하기 위해 */
  flex: 1;
}
.promotion-content .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 수평 슬라이드 */
.promotion-content .swiper {
  width: calc(251px * 5 + 50px * 4);
  height: 360px;
  flex-shrink: 0;
}
.promotion-content .material-icons {
  font-size: 36px;
  font-weight: bold;
}
.promotion-content .swiper-button-prev::after,
.promotion-content .swiper-button-next::after {
  display: none;
}
.promotion-content .swiper-button-prev,
.promotion-content .swiper-button-next {
  top: 9%;
}



/* PROMOTION-DESCRIPTION */
.promotion-content .promotion-description h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
}
.promotion-content .promotion-description p {
  line-height: 60px;
  padding: 0 200px;
}

/* SCROLL UP BTN */
.promotion-content .promotion-description .scroll-up-btn {
  font-size: 50px;
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}
.promotion-content .promotion-description .scroll-up-btn:hover {
  color: #fff;
  background-color: #d4ebce;
  border-radius: 50%;
}





@media screen and (max-width: 767px) {
  /* SECTION */
  section.promotion-content {
    width: 100%;
  }
  
}